* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  background-image: url('../public/time.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  color: beige;
  font-size: large;
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  border: 2px solid #AA8E67;
  border-radius: 8px;
}

.input:focus {
  border-color: hsl(var(--input-focus-h), var(--input-focus-s), var(--input-focus-l));
}

.timeWrapper {
  display: flex;
  gap: 0.5rem;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #BEAB81;
}